@import url('./_notification.scss');

$header-bg: #EBEBEB;
$nav-bg: #D9D9D9;

header {
  position: sticky;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background: $header-bg;  
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);  
  padding: 15px 0;
  z-index: 999;

  .side1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4rem;
    gap: 2rem;

    .logo {
      display: flex;
      flex-direction: column;
      gap: 0;
      width: 115px;
      cursor: pointer;
      user-select: none;
      .first {
        color: var(--primary-orange);
      }
      .second {
        display: flex;
        justify-content: flex-end;
        color: var(--primary-blue);
      }
    }

    .search-bar {
      display: flex;
      gap: 15px;
      min-width: 350px;
      max-width: 500px;
      width: 100%;
      height: max-content;

      & input {
        border: none;
        border-radius: 12px;
        font-size: 15px;
        background: $nav-bg;
        padding: 10px 1.5rem;
        width: 100%;
        &:focus {
          outline: none;
        }
      }

      .search-btn {
        display: flex;
        align-items: center;
        background: $nav-bg;
        border-radius: 12px;
        padding: 6px;
        cursor: pointer;
        svg {
          color: #fff;
        }
      }
    }
  }

  .side2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4rem;
    gap: 2rem;

    .navigation-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      min-width: 350px;
      max-width: 650px;
      width: 100%;
      border-radius: 12px;
      background: $nav-bg;
      user-select: none;
      .active {
        color: #4993fb;
      }

      & li {
        position: relative;
        list-style-type: none;
        color: var(--subtext-gray);
        cursor: pointer;

        &:hover {
          color: #4993fb;
        }

        &:active {
          transform: scale(0.96);
        }

        &::before {
          content: '';
          position: absolute;
          z-index: 2;
          height: 100%;
          width: 100%;
          background: transparent;
        }

        .log-out {
          display: flex;
          align-items: center;
          font-weight: 500;
          background: #FFF;
          padding: 4px;
          border-radius: 6px;
        }
      }
    }
    
    .contact-support {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 70px;
      gap: 2px;
      cursor: pointer;
      svg {
        color: var(--subtext-gray);
      }
      & p {
        font-size: 12px;
      }
    }
  }

}

@media screen and (max-width: 1043px) {
  .search-bar {
    & input {
      display: none;
    }
  }
}