.post-card {
  display: flex;
  flex-direction: column;
  width: 585px;
  height: auto;
  background: #FFF;
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;

  .post-header {
    display: flex;
    align-items: center;
    padding: 20px 10px 10px;
    gap: 10px;

    .user-profile {
      height: 40px;
      width: 40px;
      background: var(--bg-gray);
      border-radius: 50%;
    }

    .profile-info {
      display: flex;
      flex-direction: column;

      .username {
        font-weight: 700;
      }

      .role {
        font-size: 12px;
        color: #666;
      }
    }
    
  }

  .post-text {
    width: 100%;
    width: auto;
    margin: 5px 15px 15px;
    white-space: pre-wrap;
  }

  .post-card_img {
    position: relative;
    display: flex;
    max-height: 585px;
    height: auto;
    width: 100%;

    .img-count {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #FFF;
      background: rgba(0, 0, 0, 0.50);
      padding: 10px;
      border-radius: 4px;
      font-size: 12px;
    }

    .slide-right {
      position: absolute;
      top: 50%;
      right: 10px;
      padding: 4px 6px;
      background: #40404062;
      border-radius: 50px;
      cursor: pointer;

      &:hover {
        background: #00000062;
        & i {
          color: #eaeaea;
        }
      }

      i {
        color: rgba(255, 255, 255, 0.50);
      }
    }

    .slide-left {
      position: absolute;
      top: 50%;
      left: 10px;
      padding: 4px 6px;
      background: #40404062;
      border-radius: 50px;
      cursor: pointer;

      &:hover {
        background: #00000062;
        & i {
          color: #eaeaea;
        }
      }

      i {
        color: rgba(255, 255, 255, 0.50);
      }
    }

    img {
      width: 100%;
      min-height: 525px;
      height: auto;
      object-fit: cover;
    } & video {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .post-card_interaction {
    display: flex;
    justify-content: space-around;
    padding: 5px 0 10px;  
    background: #fff;
    overflow: hidden;

    & i {
      position: relative;
      cursor: pointer;
      font-size: 1.5rem;
      padding: 10px 2rem;
      border-radius: 12px;
      overflow: hidden;

      &:hover {
        background: #eeeeee;
      }
    }

    .liked {
      color: #e2123f;
      animation: heart 0.2s ease forwards;
    }

    .saved {
      color: #0073ff;
      animation: heart 0.2s ease forwards;
    }
  }
}

@keyframes heart {
  0% {
    scale: 0.1;
  } 40% {
    scale: 1.1;
  } 100% {
    scale: 1;
  }
}

@keyframes save {
  0% {
    transform: translateY(-8px);
    opacity: 0;
  } 40% {
    transform: translateY(-8px);
    opacity: 1;
    scale: 1.1;
  } 60% {
    transform: translateY(2px);
    opacity: 1;
    scale: 1.1;
  }100% {
    transform: translateY(0);
    scale: 1.1;
  }
}